<header>
  <p class="count">0</p>
  <h1 class="main__title">¿Quién reinará en poniente?</h1>
  <button class="btn btn-reset" value="Reset">Reset</button>
  <button class="btn btn-info"><i class="fas fa-info icon"></i> </button>
  <div class="pop-up hidden">
    <p class="text-info">Poniente está en peligro y tú puedes ayudar. Dice una antigua profecía que aquel que descubra el número que nos fue prometido decidirá el destino de Poniente. Debes averiguarlo lo más rápido posible ya que los caminantes blancos están cerca e irán acabando con los candidatos al trono de hierro. Cuanto antes averigues el número mejor será nuestro futuro. Que la gracia de los siete te ayude.</p>
  </div>
</header>