<main class="main_cointainer">
    <section class="main__section">
        <img class="photo" src="/assets/images/jon.jpg" alt="">
        <aside><img class="emblem emblem__container--A" src="/assets/images/Emblema casa Stark.jpg"></aside>
        <aside><img class="emblem emblem__container--B" src="/assets/images/Emblema casa Stark.jpg"></aside>
        <form action="GET" class="form__container">
        <label for="number"></label>
        <input type="text" id="number" class="input-number" name="number" placeholder="1" >
        <button class="btn btn-try">Salvar a poniente</button>
    </form>
        <p class="track">Escribe un número y dale a enter</p>
    </section>
</main>