<main>
    <section class="main__section">
        <img class="photo" src="/assets/images/Emblema casa Stark.jpg" alt="">
        <aside class="emblem__container"><img src=""></aside>
        <aside class="emblem__container"><img src=""></aside>
        <label for="number">Introduce aquí tu número</label>
        <input type="text" id="number" name="number" placeholder="1">
        <button class="btn btn-try" value="Prueba">Prueba</button>
        <button class="btn btn-reset" value="Reset">Reset</button>
        <p class="track">Escribe un número y dale a prueba</p>
    </section>
</main>