<main class="main_cointainer">
    <section class="main__section">
        <img class="photo" src="/assets/images/Emblema casa Stark.jpg" alt="">
        <aside><img class="emblem__container--A" src="/assets/images/Emblema casa Stark.jpg"></aside>
        <aside><img class="emblem__container--B" src="/assets/images/Emblema casa Stark.jpg"></aside>
        <label for="number" class="input-number label">Introduce aquí tu número</label>
        <input type="text" id="number" class="input-number" name="number" placeholder="1">
        <p class="track">Escribe un número y dale a prueba</p>
    </section>
</main>