<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Adalab Web Starter Kit</title>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <p class="count">0</p>
  <h1 class="main__title">Adivina el número</h1>
  <section class="container">
    <label for="number">Introduce aquí tu número</label>
    <input type="text" id="number" name="number" placeholder="1">
    <button class="btn" value="Prueba">Prueba</button>
  </section>
  <p class="track">Escribe un número y dale a prueba</p>
  <script src="assets/js/main.js"></script>
</body>
</html>
