.count{
	font-size: 32px;
	position: fixed;
	left: 1%;
	top:1%;
	background-color: rgba(211, 211, 211, 0.5);
	border: 1.5px solid rgb(119, 119, 119);
}

.main__title{
	text-align: center;
	background-color: rgba(211, 211, 211, 0.5);
	border: 1.5px solid rgb(119, 119, 119);
	margin: 86px auto 50px;
	max-width: 800px;
}

.btn-reset{
	position: absolute;
	top: 2.5%;
	right: 2.5%;
	height: 20px;
	min-width: 177px;
}

