.count{
	font-size: 32px;
	position: fixed;
	right: 0;
	top:0;
	color: red;
}

.main__title{
	text-align: center;
	background-color: rgba(211, 211, 211, 0.5);
	border: 1.5px solid rgb(119, 119, 119);
	margin: 100px auto 50px;
}
