.count{
	font-size: 32px;
	position: fixed;
	left: 1%;
	top:1%;
	background-color: rgba(211, 211, 211, 0.5);
	border: 1.5px solid rgb(119, 119, 119);
}

.main__title{
	text-align: center;
	background-color: rgba(211, 211, 211, 0.5);
	border: 1.5px solid rgb(119, 119, 119);
	margin: 70px auto 46px;
	max-width: 800px;
}

.icon{
	height: 15px;
	width: 15px;
	font-size: 12px;
	color: rgb(88, 2, 2);
}

.pop-up{
	position:absolute;
	left: 18%;
}

.hidden{
	display: none;
}

.text-info{
	font-weight: bold;
	text-align: center;
	max-width: 600px;
	background-color: rgba(211, 211, 211, 0.808);
	border: 1.5px solid rgb(119, 119, 119);
}