*{
	margin: 0;
	padding: 0;
}

body {
	background-image: url(/assets/images/trono-de-hierr0.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	font-family: 'Cinzel', serif;
	color: rgb(88, 2, 2);
}